.col-12{
    background-color: bisque;
    margin: 0 auto;
}
.carousel-inner {
    height: 500px;
    margin: 0 auto;
}
.carousel-item {
    padding-top: 5%;
}
.fa{
    color:blue;
    font-size: 20px;
}
.carousel{
    margin: 0 auto;
}